.header {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: center;
  height: 293px;
}

.menu {
  display: flex;
  align-items: center;
  padding-bottom: 8.5px;
  column-gap: 9px;
  padding-left: 50px;
  font-family: Raleway, sans-serif;
  font-weight: 400;
  font-size: 18px;
  list-style: none;
}

.underline {
  text-decoration: underline;
  text-underline-offset: 4px;
}

.header-link {
  display: inline;
}

.header-link-active {
  text-decoration: none;
  list-style: none;
}

.list-marker {
  list-style: circle;
  list-style-position: inside;
}

.header__logo-image {
  display: block;
  width: 140px;
  justify-self: center;
  align-self: center;
}

.address {
  max-width: 240;
  font-style: normal;
  font-family: Raleway, sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 24.3px;
}

.header__address {
  justify-self: center;
  padding-left: 105px;
  padding-bottom: 7px;
}

.cover {
  background-image: url(../images/cover.jpg);
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 757px;
  position: relative;
}

.overlay {
  opacity: 60%;
  width: 100%;
  height: 100%;
  background-color: #000000;
  position: absolute;
  z-index: 1;
}

.cover-title {
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 100px;
  text-transform: uppercase;
  color: #ffffff;
  z-index: 2;
  position: absolute;
  display: flex;
  flex-direction: column;
  padding: 165px 50px;
  align-items: center;
  width: 100%;
  letter-spacing: 30px;
}

.aligned-text {
  width: 100%;
  text-align: left;
}

.aligned-text_center {
  width: 100%;
  text-align: center;
  padding-top: 16px;
  padding-left: 31px;
}

.aligned-text_right {
  width: 100%;
  text-align: end;
  padding-top: 17px;
  margin-left: 60px;
}

.cover__description {
  position: absolute;
  padding: 656px 50px 50px 50px;
  display: flex;
  align-items: center;
  z-index: 2;
}

.cover__description-text {
  font-family: Raleway, sans-serif;
  font-weight: 400;
  font-size: 22px;
  line-height: 28px;
  text-transform: uppercase;
  color: #ffffff;
  letter-spacing: ;
}

.letter-spacing-extended {
  word-spacing: 18.5px;
}

.bet-button {
  border: solid 1px white;
  background: transparent;
  color: #ffffff;
  text-transform: uppercase;
  font-family: Raleway, sans-serif;
  font-weight: 500;
  font-size: 22px;
  text-align: center;
  width: 256px;
  height: 51px;
  margin-left: 107px;
  cursor: pointer;
}

.lots {
  margin-top: 250px;
  min-height: 723px;
  width: 1052px;
  padding-left: 24px;
}

.lots__heading {
  text-transform: uppercase;
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 40px;
  padding-left: 40px;
}

.lots__card-list {
  list-style: none;
  display: flex;
  justify-content: space-between;
  gap: 25px;
  padding-top: 27px;
}

.card-link {
  height: 100%;
}

.card {
  height: 596px;
  width: 334px;
  background-size: cover;
  background-position: center;
  position: relative;
  display: flex;
  flex-direction: column;
}

.card-anderson {
  background-image: url(../images/card-lot-01.jpg);
  z-index: 0;
}

.card-joise {
  background-image: url(../images/card-lot-02.jpg);
  z-index: 0;
}

.card-kandinsky {
  background-image: url(../images/card-lot-03.jpg);
  z-index: 0;
}

.card__title {
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 22px;
  line-height: 120%;
  text-transform: uppercase;
  text-decoration: underline;
  text-decoration-style: solid;
  padding-top: 48px;
  padding-left: 40px;
  padding-right: 40px;
  color: #ffffff;
  z-index: 2;
}

.card__text {
  font-family: Raleway, sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 120%;
  color: #ffffff;
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 47px;
  margin-top: auto;
  z-index: 2;
}

.lots__look-more-link {
  padding-left: 40px;
  position: absolute;
  padding-top: 30px;
  font-family: Raleway, sans-serif;
  font-weight: 400;
  font-size: 20px;
}

.about {
  margin-top: 120px;
  min-height: 595px;
  width: 100%;
}

.about__column {
  display: grid;
  grid-template-columns: 359px 1fr;
  gap: 25px;
}

.about__logo {
  background-color: #000000;
  border-radius: 50%;
  width: 240px;
  height: 240px;
  display: flex;
  margin-top: 35px;
  margin-left: 72px;
  justify-content: center;
  align-items: center;
}

.about__logo-image {
  background-image: url(../images/logo-white.svg);
  width: 148px;
  height: 114px;
  background-position: center;
}

.about-info {
  padding-top: 133px;
}

.about__title {
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 40px;
  text-transform: uppercase;
}

.about__text-start {
  padding-top: 75px;
}

.about__text {
  font-family: Raleway, sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  margin-top: 25px;
}

.footer {
  height: 180px;
  padding-top: 180px;
  width: 100%;
}

.footer-column {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: start;
}

.footer__address {
  margin-left: 50px;
}

.footer__menu-list {
  display: flex;
  align-items: center;
  flex-direction: column;
  list-style: none;
}

.footer__menu-link {
  font-family: Raleway, sans-serif;
  font-weight: 400;
  font-size: 18px;
  text-underline-offset: 4px;
}

.footer__menu-link_active {
  font-family: Raleway, sans-serif;
  font-weight: 400;
  font-size: 18px;
  text-decoration: none;
}

.footer__social-list {
  list-style: none;
  display: flex;
  justify-content: space-evenly;
  padding-left: 27px;
}

.footer__social-icon-youtube {
  background-image: url(../images/yt.svg);
  width: 48px;
  height: 48px;
}

.footer__social-icon-vk {
  background-image: url(../images/vk.svg);
  width: 48px;
  height: 48px;
}

.footer__social-icon-pinterest {
  background-image: url(../images/pinterest.svg);
  width: 48px;
  height: 48px;
}
